@page "/login"
@using HPM.Data.Entities
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@if (_isProcessing)
{
    <div class="overlay position-fixed"></div>
    <div class="loading-wrapper position-fixed d-flex justify-content-center align-items-center">
        <div class="loading-text fs-1 text-white">Logging-in....</div>
    </div>
} 
<style type="text/css">
    .overlay {
        left: 0; @*ด้านซ้าย*@
        right: 0; @*ด้านขวา*@
        top: 0; @*ด้านบน*@
        bottom: 0; @*ด้านล่าง*@
        background-color: black; @*พื้นหลัง*@
        opacity: 0.5; @*ความทึบ*@
        z-index: 2000  @*การซ้อนทับของlayout*@
    }
    .loading-wrapper {
        left: 0; @*ด้านซ้าย*@
        right: 0; @*ด้านขวา*@
        top: 0; @*ด้านบน*@
        bottom: 0; @*ด้านล่าง*@
        z-index: 2001 @*การซ้อนทับของlayout*@
    }
    .wrapper{
        width: 450px; @*ความกว้าง*@
        background: transparent; @*พื้นภาพโปร่งใส*@
        border: 2px solid rgba(255, 255, 255, .2); @*ความหนาของเส้น กับสี*@
        backdrop-filter: blur(40px); @*การเบลอ*@
        color: #000000; @*สี*@
        border-radius: 30px; @*ความโค้ง*@
        padding: 30px 30px; @*ระยะห่าง*@
    }
    .wrapper h3{
        font-size: 36; @*ขนาดตัวอักษร *@
        text-align: center; @*ตัวอักษรกึ่งกลาง *@
    }
    .wrapper .input-box{
        width: 100%; @*ความกว้าง*@
        height: 40px; @*ความสูง*@
        margin: 10px 10px;
    }
    .cen{
        width: 100%; @*ความกว้าง*@
        height: 50px; @*ความสูง*@
        margin: 10px 40px;
    }
    .input-box input{
        width: 300px; @*ความกว้าง*@
        height: 10%; @*ความสูง*@
        background: transparent; @*พื้นภาพโปร่งใส*@
        border: none; @*ไม่แสดงเส้น*@
        outline: none; @*ไม่แสดงพื้นที่รอบนอก*@
        border: 2px solid rgba(0, 0, 0, 0.2); @*ความหนาของเส้น กับสี*@
        border-radius: 40px; @*ความโค้ง*@
        font-size: 16px; @*ขนาดตัวอักษร *@
        color: #000000; @*สี*@
        padding: 20px 50px 20px 35px;
        margin-left: auto; @*ปรับซ้าย auto  การจัดกึ่งกลาง*@
        margin-right: auto; @*ปรับขวา auto การจัดกึ่งกลาง*@
    }
    .input-box input::placeholder{
        color: #000000; @*สี*@
    }
    @* .input-box i1 {
        position: absolute;
        right: 20px;
        top: 415px;
        transform: translateX(-790px);
        font-size: 20px;
    }
    .input-box i2 {
        position: absolute;
        right: 20px;
        top: 475px;
        transform: translateX(-790px);
        font-size: 20px;
    } *@
    .wrapper .btn {
        width: 40%; @*ความกว้าง*@
        height: 40px; @*ความสูง*@
        background: #fff;  @*พื้นหลัง*@
        border: none; @*ไม่แสดงเส้น*@
        outline: none; @*ไม่แสดงพื้นที่รอบนอก*@
        border-radius: 40px; @*ความโค้ง*@
        box-shadow: 0 0 10px rgba(0, 0, 0, .1); @*สร้างเงา*@
        cursor: pointer; @*ชี้แล้วเปลี่ยนลูกศร*@
        color: #000000; @*สี*@
        font-weight: 600;  @*ขนาดตัวอักษร *@
        display: block; @*แท็กข้อความ ขึ้นบรรทัดใหม่  การจัดกึ่งกลาง*@
        margin-left: auto; @*ปรับซ้าย auto  การจัดกึ่งกลาง*@
        margin-right: auto; @*ปรับขวา auto การจัดกึ่งกลาง*@
        background-image: linear-gradient(180deg, #1BB67A 0%, #59E3AC 70%);
    }
    .center {
        display: block; @*แท็กข้อความ ขึ้นบรรทัดใหม่  การจัดกึ่งกลาง*@
        margin-left: auto; @*ปรับซ้าย auto  การจัดกึ่งกลาง*@
        margin-right: auto; @*ปรับขวา auto การจัดกึ่งกลาง*@
    }
    .backgroundP1 {
        background-image: url('images/P1.jpg'); @*พาทรูป*@ 
        /* background: yellow; */
        background-repeat: no-repeat; @*การเรียงรูปภาพไปแนวแกน X แนวนอน หรือ Y  รูปจะถูกใช้ครั้งเดียว*@
        background-position: center; @*จัดตำแหน่งของพื้นหลังให้กึ่งกลาง*@
        background-attachment: fixed; @**@
        background-size: cover;  @**@
        @* max-width: 100%; *@
        width: 1700px; @*ความกว้าง*@
        height: 675px; @*ความสูง*@
        opacity: 0.6; @*ความทึบ*@
        @* background-size: 100% 100%; *@
    }
    .grid{
        margin-bottom: 3rem; @*ขนาดของปุ่ม*@
        display: grid; @*จัดช่องไฟ*@
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr)); @*1fr คือให้คำนวณพื้นที่ auto*@
    }
</style>
<br />
<br />
<br />
@* <body class="backgroundP1"> *@
<EditForm Model="_model" OnValidSubmit="LoginAsync">
<DataAnnotationsValidator />
<div >
    <div class="container mt-5 d-flex justify-content-center  grid">
        <div class="wrapper" >
            <div class="card-header">
                <h3>LOGIN</h3>
            </div>
            <div class="card-body">
                <div class="input-box">
                    @* <label class="form-label">Username</label> *@
                    <InputText @bind-Value="_model.UserName" class="form-control" placeholder="Enter Username" />
                    <ValidationMessage For="()=> _model.UserName" />
                </div>
                <br />
                <div class="input-box">
                    @* <label class="form-label">Password</label> *@
                    <InputText typeof="password" @bind-Value="_model.Password" class="form-control" placeholder="Enter Password" />
                    <ValidationMessage For="()=> _model.Password" />
                </div>
            </div>
            <br />
            <div class="card-footer">
                <button type="submit" class ="btn btn-success bth-sm">Login</button>
            </div>
          
        </div>
    </div>
</div>    
</EditForm>
@* </body> *@
@* <div class="content background-image">
    <div class="bod">
        <div class="wrapper">
            <form action="">
                <h3 class="cen">SKN</h3> 
                <div class="center">
                    <img src="Images/P2.png" width = "150" height = "150" class="center"/> 
                </div>
                <div class="input-box"> *@
                    @* <i1 class='bx bxs-user'></i1> *@
                    @* <input type="text" class="form-control" id="UserName" placeholder="USERNANE" name="UserName"> *@
                @* </div>
                <div class="input-box"> *@
                    @* <i2 class='bx bxs-lock-alt'></i2> *@
                    @* <input type="text" class="form-control" id="Password" placeholder="PASSWORD" name="Password">
                </div>
                <div class="input-box"> *@
                    @* <Button Color="ButtonColor.Secondary" Outline="true" @onclick="button_click" Size="Size.Medium"> Login </Button> *@
                @* </div>
            </form>
        </div>
    </div>
</div> *@

@code {
    private Authentication _model = new();

    private bool _isProcessing = false;

     private async Task LoginAsync()
    {
        _isProcessing = true;
        try
        {
            await Task.Delay(5000);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            _isProcessing = false;
        }
    }  
}


